*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    /*  border: 1px solid black;  */
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f9fbfd;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-body {
    min-height: 100px;
    position: relative;
    top: 0;
}

.card-footer {
    text-align: center;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

.btn {
    border: none;
    background-color: hsl(360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.float-right {
    float: right;
}

#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    /* change cursor to indicate you can click to copy */
    cursor: grab;
}

#passwordOverlay {
    /*  this will overlay ontop of the password element 
        and display the Criteria Prompt to user */
    display: flex;
    flex-direction: column;
    /* position absolute to take out of flow and place directly ontop of password covering 100% */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    /* initially this should be hidden behind password */
    z-index: -1;
}

#charSelect-wrapper,
#charLength-wrapper {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: .2em;
}

#charSelect-wrapper {
    justify-content: flex-end;
    max-width: 350px;
}

#charLength-wrapper {
    justify-content: center;
    align-items: center;
    height: 100%;
}

#charSelect-wrapper label.title {
    width: 90%;
}

#charSelect-wrapper label {
    width: 45%;
    align-self: flex-end;
    /* need to display:flex this so the checkboxes 
    can align centered with their labels */
    display: flex;
    align-items: center;
}

input#charLength {
    margin: 0 .2em;
    width: 2.5em;
    font-size: 1.2em;
    text-align: center;
}

@media (max-width: 690px) {
    /* fonts get smaller */
    .btn {
        font-size: 1em;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
    #password,
    #passwordOverlay {
        font-size: 1em;
    }
    /* but checkbox select area gets bigger for ease of finger taping */
    #charSelect-wrapper label[for] {
        padding: .4em 0;
    }
}

@media (max-width: 500px) {
    /* start to resize padding and margins to fit better on small screens */
    .wrapper {
        padding: 15px 10px 0 10px;
    }
    header {
        padding: 10px;
    }
    h1,
    h2 {
        /* using margin-block -start and -end 
        because thats what the user agent stylsheet 
        rule that I want to override is called*/
        margin-block-start: .4em;
        margin-block-end: .4em;
    }
    div.card {
        padding: 15px 20px;
    }
    .card-header h2 {
        /*looks weird off to the side so center this */
        text-align: center;
    }
    #password,
    #passwordOverlay {
        font-size: .8em;
    }
    /* checkbox select area gets even bigger */
    #charSelect-wrapper label[for] {
        padding: .6em 0;
    }
    #charLength-wrapper {
        margin-top: 0;
    }
    .btn {
        font-size: 0.8em;
    }
}

@media (max-width: 360px) {
    /* with this last media query site now 
    looks good down to a 221px wide screen */
    #password,
    #passwordOverlay {
        font-size: .8em;
    }
    #charSelect-wrapper {
        justify-content: center;
    }
    #charSelect-wrapper label[for] {
        padding: .8em 0;
        font-size: .7em;
    }
    .btn {
        font-size: 0.8em;
    }
}